.about-us {
  padding-top: 80px;
  margin: 0 120px 80px;
}

@media (max-width: 1340px) {
  .about-us {
    padding-top: 60px;
    margin: 0 90px 60px;
  }
}

@media (max-width: 1072px) {
  .about-us {
    padding-top: 30px;
    margin: 0 60px 32px;
  }
}

@media (max-width: 886px) {
  .about-us {
    margin: 0 30px 32px;
  }
}

@media (max-width: 768px) {
  .about-us {
    margin: 0 18px 32px;
  }
}

@media (max-width: 560px) {
  .about-us {
    margin: 0 10px 32px;
  }
}
