.body {
  background-color: #fff;
}

.page {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #fff;
}

.purchase__button {
  padding: 14px 16px;
  border-radius: 4px;
  border: none;
  background-color: #0e1734;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  cursor: pointer;
}

.purchase__button_placed-header {
  order: 3;
}

.purchase__button_placed-first {
  padding: 16px 32px;
}

.purchase__button_about-us {
  padding: 16px 32px;
}

.header {
  padding-top: 37px;
  margin: 0 125px 35px 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #192252;
}

.header__logo {
  margin: 0;
  font-family: "Montserrat", Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
}

.header__nav {
}

.header__menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  column-gap: 36px;
}

.header__menu-item {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}

@media (max-width: 1340px) {
  .header {
    margin: 0 90px 32px 90px;
  }
}

@media (max-width: 1072px) {
  .header {
    margin: 0 60px 32px 60px;
  }
}

@media (max-width: 886px) {
  .header {
    margin: 0 30px 24px 30px;
  }
}

@media (max-width: 768px) {
  .header {
    padding-top: 18px;
    margin: 0 18px 24px 18px;
    flex-wrap: wrap;
    row-gap: 18px;
  }

  .header__nav {
    width: 100%;
    order: 3;
  }

  .header__menu-list {
    justify-content: center;
  }
}

@media (max-width: 420px) {
  .header {
    margin: 0 10px 24px 10px;
    flex-direction: column;
  }
  .header__logo {
    margin-bottom: 18px;
    font-size: 42px;
    line-height: 48px;
  }
}

.first {
  padding-top: 80px;
  margin: 0 120px 96px 120px;
  display: grid;
  justify-content: space-between;
  column-gap: 24px;
  grid-template-columns: 7.35fr 2.25fr 2.25fr 2.25fr;
  grid-template-rows: 1fr 6.35fr 1fr;
}

.first__text-block {
  margin-top: 55px;
  grid-row: 2 / 3;
}

.first__title {
  margin: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #192252;
}

.first__offer-text {
  margin: 24px 0 59px;
  max-width: 485px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #848fac;
}

.first__image {
  max-width: 100%;
}

.first__image:first-of-type {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
}

.first__image:nth-child(3) {
  grid-row: 2 / 4;
  grid-column: 3 / 4;
}

.first__image:last-of-type {
  grid-row: 1 / 3;
  grid-column: 4 / 5;
}

@media (max-width: 1340px) {
  .first {
    padding-top: 60px;
    margin: 0 90px 64px 90px;
  }
  .first__title {
    max-width: 415px;
    font-size: 38px;
  }
  .first__offer-text {
    margin: 16px 0 40px;
    max-width: 375px;
    font-size: 18px;
  }
}

@media (max-width: 1072px) {
  .first {
    padding-top: 30px;
    margin: 0 60px 32px 60px;
    column-gap: 16px;
  }
  .first__title {
    font-size: 32px;
  }
  .first__offer-text {
    margin: 12px 0 30px;
    font-size: 16px;
  }
}

@media (max-width: 886px) {
  .first {
    margin: 0 30px 32px 30px;
  }
  .first__text-block {
    margin-top: 0;
  }
  .first__title {
    max-width: 295px;
    font-size: 27px;
  }
  .first__offer-text {
    max-width: 295px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .first {
    margin: 0 18px 32px 18px;
    column-gap: 18px;
    row-gap: 18px;
    grid-template-columns: 2.25fr 2.25fr 2.25fr;
    grid-template-rows: auto 1fr 6.35fr 1fr;
  }
  .first__text-block {
    margin: 0 auto;
    grid-row: 1;
    grid-column: 1 / -1;
    text-align: center;
  }
  .first__title {
    max-width: 459px;
    font-size: 42px;
  }
  .first__offer-text {
    max-width: 375px;
    margin: 12px auto 18px;
    font-size: 18px;
  }

  .first__image {
    width: 100%;
  }
  .first__image:first-of-type {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
  }

  .first__image:nth-child(3) {
    grid-row: 3 / 5;
    grid-column: 2 / 3;
  }

  .first__image:last-of-type {
    grid-row: 2 / 4;
    grid-column: 3 / 4;
  }
}

@media (max-width: 560px) {
  .first {
    margin: 0 10px 32px 10px;
    column-gap: 5px;
  }
  .first__title {
    max-width: 360px;
    font-size: 26px;
  }
  .first__offer-text {
    max-width: 310px;
    font-size: 16px;
  }
}

.about-us {
  padding-top: 80px;
  margin: 0 120px 80px 120px;
}

.card {
  display: flex;
  flex-direction: row;
  column-gap: 126px;
}

.card:not(:first-child) {
  margin-top: 32px;
}

.card_direction_reverse {
  justify-content: space-between;
}

.card__image {
  max-width: 384px;
  max-height: 576px;
}

.card__image_direction_reverse {
  order: 2;
}

.card__text-block {
  align-self: center;
  max-width: 690px;
}

.card__title {
  margin: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #192252;
}

.card__offer-text {
  max-width: 584px;
  margin: 28px 0 17px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #848fac;
}

@media (max-width: 1340px) {
  .about-us {
    padding-top: 60px;
    margin: 0 90px 60px 90px;
  }
  .card {
    column-gap: 18px;
    justify-content: space-between;
  }
  .card__title {
    max-width: 446px;
    font-size: 32px;
  }

  .card__offer-text {
    max-width: 400px;
    margin: 20px 0 12px;
    font-size: 18px;
  }
  .card__image {
    max-width: calc(45% - 18px);
    height: 100%;
  }
}

@media (max-width: 1072px) {
  .about-us {
    padding-top: 30px;
    margin: 0 60px 32px 60px;
  }
  .card__title {
    max-width: 399px;
    font-size: 27px;
  }

  .card__offer-text {
    max-width: 370px;
    font-size: 16px;
  }
}

@media (max-width: 886px) {
  .about-us {
    margin: 0 30px 32px 30px;
  }
  .card__title {
    max-width: 399px;
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .about-us {
    margin: 0 18px 32px 18px;
  }
}

@media (max-width: 560px) {
  .about-us {
    margin: 0 10px 32px 10px;
  }
  .card {
    flex-direction: column;
    row-gap: 18px;
  }
  .card__image {
    max-width: 100%;
    max-height: 100%;
    order: 1;
  }
  .card__text-block {
    align-self: flex-start;
  }
}

.benefit {
  padding-top: 80px;
  margin: 0 120px 80px 120px;
  row-gap: 32px;
}

@media (max-width: 1340px) {
  .benefit {
    padding-top: 60px;
    margin: 0 90px 60px 90px;
  }
}

@media (max-width: 1072px) {
  .benefit {
    padding-top: 30px;
    margin: 0 60px 32px 60px;
  }
}

@media (max-width: 886px) {
  .benefit {
    margin: 0 30px 32px 30px;
  }
}

@media (max-width: 768px) {
  .benefit {
    margin: 0 18px 32px 18px;
  }
}

@media (max-width: 560px) {
  .benefit {
    margin: 0 10px 32px 10px;
  }
}

.interior {
  padding-top: 80px;
}

.interior__title {
  margin: 0 auto 37.65px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  text-align: center;
  color: #192252;
}

.interior__images {
  display: grid;
  grid-template-columns: minmax(75%, 1090px) minmax(25%, 344px);
  grid-template-rows: repeat(3, 1fr);
}

.interior__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.interior__first-slide-wrapper {
  grid-row: 1 / 4;
  position: relative;
}

.switcher {
  grid-row: 1 / 4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  list-style: none;
}

.switcher_position_absolute {
  position: absolute;
}

.switcher_placed_bottom-center {
  bottom: 4.7%;
  right: calc(50% - 36px);
}

.switcher__dot {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  display: block;
  cursor: pointer;
  width: 8px;
  height: 8px;
  background-color: rgba(250, 176, 71, 0.35);
  border-radius: 50%;
}

.switcher__dot_theme_light {
  background-color: white;
}

.switcher__dot:checked {
  width: 12px;
  height: 12px;
  background-color: #fab047;
}
@media (max-width: 768px) {
  .interior__images {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3fr 1fr;
  }
  .interior__first-slide-wrapper {
    grid-row: 1;
    grid-column: 1 / 4;
  }
}

@media (max-width: 560px) {
  .interior__images {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .interior__first-slide-wrapper {
    grid-row: 1;
    grid-column: 1;
  }
  .switcher_placed_bottom-center {
    display: none;
  }
}

.reservation {
  padding-top: 80px;
  margin: 0 120px 80px 120px;
  text-align: center;
}

.reservation__title {
  margin: 0 auto;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  color: #192252;
}

.reservation__offer-text {
  max-width: 588px;
  margin: 24px auto 32px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #848fac;
}

.reservation__cards {
  margin: 88px 0 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  list-style: none;
  padding: 0;
}

.product {
  display: grid;
  grid-template-rows: repeat(2, max-content);
  text-align: start;
}

.product__image {
  width: 100%;
}

.product__text-block {
  display: flex;
  flex-direction: column;
}

.product__title {
  margin: 32px 0 0;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
}

.product__offer-text {
  margin: 16px 0 32px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #848fac;
}

.product__link {
  margin-top: auto;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #424f7b;
  text-decoration: none;
}

.product__link::after {
  content: url("/images/product/product_stroke.svg");
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

@media (max-width: 1340px) {
  .interior {
    padding-top: 60px;
  }
  .interior__title {
    font-size: 32px;
  }
  .reservation {
    padding-top: 60px;
    margin: 0 90px 60px 90px;
  }
  .reservation__title {
    font-size: 32px;
  }
  .reservation__offer-text {
    margin: 20px auto 30px;
    font-size: 18px;
  }
}

@media (max-width: 1072px) {
  .interior {
    padding-top: 30px;
  }
  .interior__title {
    font-size: 27px;
  }
  .reservation {
    padding-top: 30px;
    margin: 0 60px 32px 60px;
  }
  .reservation__title {
    font-size: 27px;
  }
  .reservation__offer-text {
    font-size: 16px;
  }
  .reservation__cards {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .product {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .product__image {
    grid-row: 1 / 3;
  }
  .product__link {
    margin-bottom: 32px;
  }
}

@media (max-width: 886px) {
  .interior__title {
    font-size: 24px;
  }
  .reservation {
    margin: 0 30px 32px 30px;
  }
  .reservation__title {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .reservation {
    margin: 0 18px 32px 18px;
  }
  .reservation__cards {
    gap: 48px;
  }
  .product {
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 0;
    /* gap: 0; */
  }
  .product__image {
    grid-row: 2 / 3;
  }
  .product__text-block {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    text-align: center;
  }
  .product__title {
    margin: 0;
  }
  .product__offer-text {
    margin-bottom: 24px;
  }
  .product__link {
    margin-top: 0;
    align-self: center;
  }
}

@media (max-width: 560px) {
  .reservation {
    margin: 0 10px 32px 10px;
  }

  .reservation__cards {
    gap: 30px;
  }

  .product {
    margin: 0 auto;
    max-width: calc(100% - 32px);
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    row-gap: 0;
  }

  .product__image {
    grid-row: 3;
  }
  .product__text-block {
    grid-row: 1;
    grid-column: 1;
  }

  .product__image {
  }

  .product__title {
    margin-top: 24px;
  }

  .product__offer-text {
    margin-bottom: 16px;
  }
  .product__link {
    text-align: center;
    margin-bottom: 16px;
  }
}

.reviews {
  padding: 80px 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__title {
  max-width: 630px;
  margin: 0 auto 62px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 36px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #192252;
}

.reviews__photo {
  margin-bottom: 44px;
  max-width: 120px;
  object-fit: cover;
}

.reviews__text {
  max-width: 793px;
  margin: 0 auto 40px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #848fac;
}

.reviews__caption {
  margin: 0 auto 24px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #192252;
}

@media (max-width: 1340px) {
  .reviews {
    padding: 60px 0 60px;
    margin: 0 90px;
  }
}

@media (max-width: 1072px) {
  .reviews {
    padding: 30px 0 30px;
    margin: 0 60px;
  }
}

@media (max-width: 886px) {
  .reviews {
    margin: 0 30px;
  }
}

@media (max-width: 768px) {
  .reviews {
    margin: 0 18px;
  }
}

@media (max-width: 560px) {
  .reviews {
    margin: 0 10px;
  }
  .reviews__title {
    margin-bottom: 20px;
  }
  .reviews__photo {
    margin-bottom: 20px;
  }
  .reviews__text {
    margin-bottom: 20px;
  }
}

.footer {
  padding: 120px;
  background-color: #0b265a;
}

.footer__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__column {
  margin-right: 23px;
}

.footer__column:first-of-type {
  flex: auto;
}

.footer__nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__title {
  margin: 0 0 13px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: -0.01em;
  color: #ffffff;
}

.footer__text {
  max-width: 186px;
  margin: 0 0 36px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #d9dbde;
}

.footer__links {
  margin: 0 81px;
  display: flex;
  flex-direction: row;
  column-gap: 95px;
  row-gap: 40px;
  flex-wrap: wrap;
}

.footer__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.footer__link:only-child {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #d9dbde;
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.social {
}

.social__list {
  max-width: 144px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.social__link {
  width: 32px;
  height: 32px;
}

.social__image {
}

@media (max-width: 1340px) {
  .footer {
    padding: 60px 90px 60px;
  }
}

@media (max-width: 1072px) {
  .footer {
    padding: 60px 60px 30px;
  }
}

@media (max-width: 886px) {
  .footer {
    padding: 30px;
  }
  .footer__wrapper {
    flex-wrap: wrap;
  }
  .footer__column {
    order: 3;
  }

  .footer__links {
    margin: 0;
    order: 2;
  }

  .footer__column:first-of-type {
    order: 1;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 30px 18px;
  }
  .footer__links {
    flex-direction: column;
    width: 50%;
  }
}

@media (max-width: 560px) {
  .footer {
    padding: 30px 10px;
  }
  .footer__wrapper {
    flex-direction: column;
  }
  .footer__column {
    margin-top: 30px;
  }
  .footer__links {
    width: 100%;
    gap: 0;
  }
  .footer__nav {
    gap: 10px;
  }
}
