.interior__images {
  max-height: 585.5px;
  display: grid;
  grid-template-columns: minmax(75%, 1090px) minmax(23%, 344px);
  grid-template-rows: repeat(3, minmax(auto, 33%));
  gap: 3px;
}

@media (max-width: 768px) {
  .interior__images {
    max-height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3fr 1fr;
  }
}

@media (max-width: 560px) {
  .interior__images {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
