.footer__column {
  margin-right: 23px;
}

.footer__column:first-of-type {
  flex: auto;
}

@media (max-width: 886px) {
  .footer__column {
    order: 3;
  }

  .footer__column:first-of-type {
    margin-bottom: 30px;
    order: 1;
  }
}

@media (max-width: 768px) {
  .footer__column:first-of-type {
    margin-bottom: 0;
  }
}

@media (max-width: 560px) {
  .footer__column {
    margin-top: 30px;
  }
}
