.first {
  margin-bottom: 16px;
  display: grid;
  justify-content: space-between;
  column-gap: 24px;
  grid-template-columns: 7.35fr 2.25fr 2.25fr 2.25fr;
  grid-template-rows: 1fr 6.35fr 1fr;
}

@media (max-width: 1072px) {
  .first {
    column-gap: 16px;
  }
}

@media (max-width: 768px) {
  .first {
    column-gap: 18px;
    row-gap: 18px;
    grid-template-columns: 2.25fr 2.25fr 2.25fr;
    grid-template-rows: auto 1fr 6.35fr 1fr;
  }
}

@media (max-width: 560px) {
  .first {
    column-gap: 5px;
  }
}
