.footer {
  padding: 120px;
  background-color: #0b265a;
}

@media (max-width: 1340px) {
  .footer {
    padding: 60px 90px;
  }
}

@media (max-width: 1072px) {
  .footer {
    padding: 60px 60px;
  }
}

@media (max-width: 886px) {
  .footer {
    padding: 30px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 30px 18px;
  }
}

@media (max-width: 560px) {
  .footer {
    padding: 30px 10px;
  }
}
