.header__menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  column-gap: 36px;
}

@media (max-width: 768px) {
  .header__menu-list {
    justify-content: center;
  }
}
