.card {
  display: flex;
  flex-direction: row;
  column-gap: 126px;
}

/* .card:not(:first-child) {
  margin-top: 32px;
} */

@media (max-width: 1340px) {
  .card {
    column-gap: 18px;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
    row-gap: 18px;
    align-items: center;
  }
}
